---
title: Database Cleanse | Services
og_title: Database Cleanse
description: Step into a world of contextual messages with high relevance. See how iBeacon technology can transform your venue or store.
---

%section.bg-green
  =partial 'banner',
		locals: { image: 'supericons/bg-green/map.svg',
				title: 'Database Cleanse',
				intro: 'Step into a world of contextual messages with high relevance. See how iBeacon technology can transform your venue or store.'}


.bg-grey
  =partial 'split-svgs-view', locals: { image: 'supericons/bg-red/map.svg' } do
    %h2 Transform user location into a relevant push
    %p Our location services can gather enormous amounts of data in just 24 hours. When we mean enormous, we mean crazy valuable insights. We have also worked really hard to come up with a solution that is battery-life friendly but still efficiently makes use of GPS data and Bluetooth LE beacons to track your customers' location.

.bg-red
  =partial 'split-svgs-view', locals: { className: 'split-view--reverse', image: 'supericons/bg-white/foot-traffic.svg' } do
    %h2 Measure and increase foot-traffic
    %p Easily measure how your in-store content boosts sales or what areas of your venue engaged more visitors. Measure how long they dwell in certain areas of your store or the products they were most interested in and create even better offline campaigns that maximize your customer’s visits to your locations.

.bg-green
  =partial 'split-svgs-view', locals: {  image: 'supericons/bg-green/map-pin.svg' } do
    %h2 Increase engagement with geo-triggers
    %p Define your sales moments by sending messages at the right time and in the right place. Surprise your customers with messages based on their visiting frequency and loyalty to a certain store. Find out how that truly converts to loyalty, emotional attachment and eventually more sales.


.bg-black
  .content-block.center-text
    %h2 Ready to try UniqLeads?
    Partner with UniqLeads today.
    %br
    =link_to 'book a 15-min demo', '/contact', class: 'nav-item btn'


.bg-red
  =partial 'split-svgs-view', locals: { className: 'split-view--reverse', image: 'supericons/bg-red/phone.svg' } do
    %h2 In-Store activation using iBeacons
    %p The most powerful solution for proximity marketing. Using bluetooth low energy devices will open the door to a new world of contextual interactions. Learn from your customer’s micro-location and transform it into a sales moment. Maximize loyalty and brand engagement like never before.

.bg-green
  =partial 'split-svgs-view', locals: {  image: 'supericons/bg-green/crowd.svg' } do
    %h2 Leverage valuable information about your audience
    %p Gather incredibly valuable insights about your store’s visitors that will transform how you acquire new customers and maximize revenue. Take decisions based on metrics that really matter. Measure how your traditional in-store offers influence your customer’s shopping habits. Compare performance between stores and discover how you can influence your sales forecast.

%section
  .content-block.center-text
    %h2 So get started right now!
    Tap into a new world of contextual and smart notifications.
    %br Try it free for 30 days. No credit card needed.
    =link_to 'Contact Us', '/contact', class: 'nav-item btn'
