---
title: Products
---
.bg-green
	.content-block
		%h1 Our Service Offerings

.container
	.content-block
		=partial 'feature', locals: { icon: 'rss-feed-menu'} do
			%h1 Targeted Contact and Company Research for Niche Markets
			%p Heightened SPAM compliance regimes around the world poses a unique challenge to companies running direct marketing campaigns.
			=link_to 'learn more', '/services/', class: 'btn--ghost'

		=partial 'feature', locals: { icon: 'card-and-ticket'} do
			%h1 Database Cleanse
			%p Maximise the utility of your database.
			=link_to 'learn more', '/services/', class: 'btn--ghost'

		=partial 'feature', locals: { icon: 'map'} do
			%h1 Sales & Lead Generation
			%p How much of your sales team’s time is spent cold calling to build leads?
			=link_to 'learn more', '/services/', class: 'btn--ghost'

		=partial 'feature', locals: { icon: 'rss-feed-menu'} do
			%h1 Sales & Marketing alignment
			%p Sales & Marketing must be integrated in today’s highly sophisticated email marketing landscape.
			=link_to 'learn more', '/services/', class: 'btn--ghost'

		=partial 'feature', locals: { icon: 'screens'} do
			%h1 Web Chat
			%p Enhance Your Customer Experience with Web Chat Support.
			=link_to 'learn more', '/services/', class: 'btn--ghost'


		/ =partial 'feature', locals: { icon: '-with-box'} do
		/ 	%h1 Loyalty App
		/ 	%p Looking to digitalize your loyalty program but still don't have an app?
		/ 	=link_to 'learn more', '/services/loyalty-app', class: 'btn--ghost'
