---
title:  Marketing Platform | Products | 
og_title: 
description: .
---

.bg-black
  =partial 'split-view', locals: { image: 'product-live-api.jpg' } do
    %h1 
    %p Imagine real time events <u>right as it happens</u>.

.bg-green
  .content-block.center-text
    %h3 Finally, powering personalized digital experiences is a reality for marketers and data teams across the globe.

.bg-grey
  =partial 'split-svgs-view', locals: { className: 'split-view--reverse', image: 'supericons/bg-white/API-small.svg' } do
    %p Stream the latest  signals on app users' interests, preferences and behaviours to any other business system. From device registration, user data changes, geo-triggers or notifications, the UniqLeads Live API puts the power back in your hands.

.bg-grey
  .container.content-vspace.center-text.solutions
    %h2 Take action when and where it matters the most!
    .row
      .sm-3
        .placeholder
          =image_tag "supericons/bg-white/synchronization.svg"
        %h3 Synchronize segmentation between different channels
      .sm-3
        .placeholder
          =image_tag "supericons/bg-white/leave.svg"
        %h3 Send a persuasive email the moment a user opts-out
      .sm-3
        .placeholder
          =image_tag "supericons/offer.svg"
        %h3 Send a follow-up email whenever a customer leaves a store
      .sm-3
        .placeholder
          =image_tag "supericons/bg-white/analytics.svg"
        %h3 Get notified whenever a product is purchased or any user profile information is changed
    %h4 All of this with fully secure connection, easy set up and competitive pricing!

.bg-grey
  .content-block.center-text
    %h2 Ready to try Live API?
    Get up and running today!
    %br
    =link_to 'Contact Sales', '/contact', class: 'nav-item btn'