---
title:  Marketing Platform | Products | Monetize
og_title: UniqLeads 
description: Sell in-app virtual goods via the Apple App Store and Google Play.
---

.bg-black
  =partial 'split-view', locals: { image: 'monetize-product.jpg' } do
    %h1 Monetize Add-On
    %p Sell in-app virtual goods via the Apple App Store and Google Play.

.bg-green
  .content-block.center-text
    %h3 Tap into millions of users in the App Store and Google Play. Track and report sales data by date, product and platform.

.bg-grey
  =partial 'split-svgs-view', locals: { className: 'split-view--reverse', image: 'supericons/bg-white/screens-small.svg' } do
    %h2 Start selling in-app products today
    %p Sell in-app products in the biggest marketplaces effortlessly. You can focus more in your products and how to promote them and less in how these platforms work. Plus, we never charge per transaction.

.bg-grey
  =partial 'split-view', locals: { image: 'supericons/bg-white/menu.svg' } do
    %h2 Product Types
    %p With our Monetize add-on, you can sell both, consumable and non-consumable virtual goods.<br><br><font color="#27b0a3">Consumable products</font color> are defined as those which must be purchased every time they are downloaded. Think of selling food in a Tamagotchi app, for example.<br><br><font color="#27b0a3">Non-consumable products</font color> must be purchased only once. For example, opening up a new level on your game. For this type of products you can also host content in iTunes Connect.

.bg-grey
  =partial 'split-svgs-view', locals: { className: 'split-view--reverse', image: 'supericons/bg-white/analytics-small.svg' } do
    %h2 Sales Dashboard
    %p We make sure you always have the most important performance indicators at a glance and that you can easily sort out what sells and what not. Adapt your strategy based on your product’s performance and maximize your app revenue.

.bg-grey
  =partial 'split-svgs-view', locals: {  image: 'supericons/bg-green/microphone.svg' } do
    %h2 Promote in-app products among your  audience
    %p Use push notifications to increase awareness of your products. Add our powerful messaging capabilities to help your audience find new purchasable content, re-discover popular products or even learn about their preferences.

%section
  .content-block.center-text
    %h2 Ready to try our Monetize add-on?
    Get in touch today to learn more.
    %br
    =link_to 'Contact Sales', '/contact', class: 'nav-item btn'