---
title:  marketing  retail | 
---
.bg-green
	.container
		%h1.xs-12.xs-p-2  marketing  retail: 

.container
	.row
		.sm-6
			.content-block
				%img{:alt => " marketing  retail", :src => "/assets/images/--retail.png", :style => "width:600px;height:315px;"}
				%p More and more retailers around the globe are realizing the potential  technologies have to increase sales and strengthen the relationship between brands and consumers. These retailers are using consumer location and behaviour information to create the shopping experience of the future, reaching out and engaging with customers when they’re most needed- at the right time with the right message.
				%h4 Presented by:
				.sm-6
					%img{:alt => "Georgy Kurian", :src => "/assets/images/robert-leefmans.png", :style => "width:150px;height:150px;"}/
					%br
					%br
					%h4 Georgy Kurian
					CEO, UniqLeads
				.sm-6
					%img{:alt => "Sam U", :src => "/assets/images/ronald-de-groot.png", :style => "width:150px;height:150px;"}/
					%br
					%br
					%h4 Ron
					Co-founder,  Loyalty
		.sm-6
			%br
			=partial 'salesforce-form', locals: {type: 'webinar-retail'}
			%h4 Watch this webinar to learn how to:
			%ul
				%li Target consumers based on location
				%li Segment consumers based on individual behaviour
				%li Digitalize your loyalty program
				%li Maximize in-store  opportunities
			%u * This webinar is in Dutch