---
title:  Admin Support | Careers | UniqLeads
image: android-developer-hiring.png
og_title: " Admin Support"
page_type: article
description: We're looking for a talented Admin Support to join our team.
---
.bg-red
    .content-block
        %h1 Hiring:  Admin Support

.container.content-block
    %section
        %p We're looking for a Admin Support to join our team.
        %h2 Responsibilities:
        %ul
            %li 
            %li

    %section
        %h2 What we expect from you:
        %ul
            %li 
            %li 

    %section
        %h2 Qualifications
        %ul
            %li Bachelor’s or Master's Degree
            %li Fluent in English language both spoken and written

    %section
        %h2 What we offer
        %ul
            %li A small, extremely motivated founder team that envisioned, built and marketed the product themselves
            %li A once in a lifetime opportunity to be part of a unique product in its early stages and help make it grow
            %li The freedom to work in our office or from anywhere you want
            %li Competitive salary and excellent employee benefits

    %section
        %h2 How to apply?
        %p If you think you're a good fit, please tell us your story in the "motivation" field of the form below. Oh, and since you are a good netizen, we are going to use your LinkedIn profile for a resume. If you don't have a LinkedIn profile, create one first.
        %form.UniqLeads-form{"data-type" => "jobApplication", "data-values" => '{"vacancy":" admin support"}', "data-redirect" => "/careers/thank-you"}

    %section
        %p Note for recruiters: No agency email and calls please.
