---
title: Sales Squad | Careers | UniqLeads
image: police-squad.jpg
og_title: "WANTED: Sales Squad"
page_type: article
description: We regard sales as a genuine team effort. That's why we are not looking for just another sales guy. We need a squad.
---
.bg-red
    .content-block
        %h1 WANTED: Sales Squad

.container.content-block
    %section
        %h2 What is the Squad?
        %p
            The Squad is responsible for answering phone calls and first-tier support tickets.
            They actively approach prospective clients, are able to identify their need for our products and convince them to try them out.
        %p
            The Squad creatively finds opportunities to expand our market share and is able to generate new lists of potential clients to approach.
            They take care of advising and supporting our clients in purchasing, setting up, integrating and making optimal use of our platform and products.
        %p
            The Squad is responsible for nurturing clients in the first phases of sales and pro-actively advises our clients in aftersales add-ons that will enhance the value of our products for their use-case.
        %p
            The Squad makes sure all necessary contracts and agreements are finalised and signed,
            our sales material, agreement templates, website, marketing campaigns, etc., are updated when necessary
            and our knowledge base and FAQ are appended with input and feedback from conversations they had with clients.
        %p
            The Squad maintains a strong connection to the marketing and product development teams
            and adds to our collective effort of delivering the best possible product out there.
            They report directly to the CEO and provide him with the necessary information to determine and manage our sales strategy.
        %p
            Most of all, the Squad is the face of the company and an important part of its brand identity and reputation

    %section
        %h2 What do we expect from you?
        %ul
            %li you have an affinity with and knowledge of online software / SaaS
            %li you possess excellent communication skills, both on the phone and in email
            %li you are comfortable in dealing with clients from all over the globe
            %li you are able to decide for yourself whether or not to pursue a sales effort
            %li you are capable of setting your own goals and work schedule and make sure your work aligns with that of others
            %li you are excited to join a team that is used to working remotely but know how to face the challenges this brings
            %li you are able to look beyond your own expertise and see the bigger picture of our products

    %section
        %h2 Qualifications
        %ul
            %li bachelor degree in relevant field or demonstrable experience in a comparable job position
            %li for interns: a relevant major plus enough spare time to do the actual job
            %li excellent communication skills, both on the phone and in email
            %li fluent in English and Dutch both spoken and written, proficiency in other languages is an advantage
            %li experience using support and sales tools such as Zendesk, Highrise and SalesForce

    %section
        %h2 What do we offer?
        %ul
            %li a small, extremely motivated founder team that envisioned, built and marketed the product themselves
            %li a once in a lifetime opportunity to be part of a unique product in its early stages and help make it grow
            %li the freedom to work in our office in Rotterdam or from anywhere you want
            %li competitive salary and excellent employee benefits
            %li the possibility to grow and assume a senior position in the team
            %li bananas

    %section
        %h2 How to apply?
        %p If you think you would make a valuable addition to the Squad, please tell us your story in the "motivation" field in the form below. Oh, and since you are a good netizen, we are going to use your LinkedIn profile for a resume. If you don't have a LinkedIn profile, create one first.
        %form.UniqLeads-form{"data-type" => "jobApplication", "data-values" => '{"vacancy":"sales squad"}', "data-redirect" => "/careers/thank-you"}

    %section
        %p Note for recruiters: No agency email and calls please.
