---
title: Thank you | Careers | UniqLeads
---

.bg-red
    .content-block
        %h1 Form processed and on its way

.container.content-block
    %section
        %h2 What happens next?
        %p
            Our recruitment minions will cross-check your credentials, spy on you for the next three weeks and hopefully report to us on your qualities.
        %p
            Seriously, we will do our best to contact you within a week to let you know if we want to have an interview with you (or not).
            In the meantime, please keep calm and take a good look into our products. It might come in handy&hellip;
        %p
            Ciao, UniqLeads Team.

