%footer.bg-black
	.content-vspace
		.container
			.font-xs
				© 2016 UniqLeads
				%nav.nav-footer
					=link_to 'terms &amp; conditions','/terms/'
					=link_to 'privacy policy','/privacy/'
					=link_to 'cookie policy','/cookies/'