%nav.nav-main
	%button.js-menu.xs-hide
		.patty
	.container
		.logo.left
			=link_to '/' do
				=image_tag 'ul-logo.svg'
		
		.nav-main__container.right
			=link_to 'full feature list', '/industries', class: 'nav-item'