%nav.nav-main
	%button.js-menu.xs-hide
		.patty
	.container
		.logo.left
			=link_to '/' do
				=image_tag 'ul-logo.svg'
		
		.nav-main__container.right
			=link_to 'why us', '/about', class: 'nav-item'
			=link_to 'services', '/services', class: 'nav-item'
			=link_to 'industries', '/industries', class: 'nav-item'
			=link_to 'company', '/', class: 'nav-item'
			/ =link_to 'products', '/services', class: 'nav-item'
			/ =link_to 'call now', '#', class: 'nav-item btn--ghost'
			=link_to 'schedule a demo', '/about', class: 'nav-item btn--ghost'