.bg-white
	%section.content-block.center-text
		%h2 We work with these CRM and marketing tools and more.
		.partners-container
			- Dir.foreach('source/assets/images/partners/') do |file|
				- if !File.directory?(file)
					=image_tag "partners/#{file}"
