.bg-white
	%section.content-block.center-text
		%h2 You're in great company
		These partners are already working with Notificare
		.partners-container
			- Dir.foreach('source/assets/images/partners/') do |file|
				- if !File.directory?(file)
					=image_tag "partners/#{file}"
