- if !defined?(slides)
	%p No slides defined
- else
	- images = ''
	- text = ''
	- slides.each do |slide|
		- ( images ||= "" ) << capture_html do
			%div=variable_image slide[:image]
		- ( text ||= "" ) << capture_haml do
			%div
				:markdown
					#{slide[:text]}
	%section.xs-p-1
		.container
			.content-container.js-slider.slider
				.slider__images
					=images
				.slider__text
					=text
				- if block_given?
					=yield