.split-view{class: className ||= nil}
	.container
		.row
			.md-6.no-padding.split-view__image{style: ("background-image: url('#{image_url(image)}');" if image)}
			.xs-12.md-6
				- if block_given?
					.split-view__content=yield