---
title: Engaging App Users with  Moments
---
.bg-green
	.container
		%h1.xs-12.xs-p-2 Engaging App Users with  Moments

.container
	.row
		.sm-6
			.content-block
				%img{:alt => "Engaging App Users with  Moments", :src => "/assets/images/engaging-app-users.jpg", :style => "width:600px;height:315px;"}
				%p You're responsible for your company’s app, you have users who’ve downloaded it and opted-in to receive communication from you. Everything seems to be going well but at the same time you wonder why you're not seeing higher user engagement and retention.
				%u You might be missing  moments.
				%h4 Presented by:
				.sm-6
					%img{:alt => "Georgy Kurian", :src => "/assets/images/robert-leefmans.png", :style => "width:150px;height:150px;"}/
					%br
					%br
					%h4 Georgy Kurian
					CEO, UniqLeads
				.sm-6
					%img{:alt => "Sam U", :src => "/assets/images/naos-wilbrink.png", :style => "width:150px;height:150px;"}/
					%br
					%br
					%h4 Sam U
					CTO, company
		.sm-6
			%br
			=partial 'salesforce-form', locals: {type: 'webinar-moments'}
			%h4 Watch this webinar to learn how to:
			%ul
				%li Unlock  moments across your entire customer experience
				%li Close the gap between brands and consumers
				%li Increase app user engagement and retention
				%li Gain complete buy-in from your entire organization