---
title: Engaging App Users with  Moments
---
.bg-green
	.container
		%h1.xs-12.xs-p-2 Engaging App Users with  Moments

.container
	%br
	%br
	.wistia_responsive_padding{:style => "padding:56.25% 0 0 0;position:relative;"}
		.wistia_responsive_wrapper{:style => "height:100%;left:0;position:absolute;top:0;width:100%;"}
			%iframe.wistia_embed{:allowfullscreen => "", :allowtransparency => "true", :frameborder => "0", :height => "100%", :mozallowfullscreen => "", :msallowfullscreen => "", :name => "wistia_embed", :oallowfullscreen => "", :scrolling => "no", :src => "//fast.wistia.net/embed/iframe/6a0vcu8nmp?videoFoam=true", :webkitallowfullscreen => "", :width => "100%"}
	%script{:async => "", :src => "//fast.wistia.net/assets/external/E-v1.js"}
	%br
	%br