---
title: See you there
---
%section.bg-grey
  =partial 'banner-landing-page',
		locals: { image: 'supericons/bg-black/screens.svg',
				form_text: '',
				button_text: 'Start uniqleads.com trial account',
				form_undertext: 'In the meantime, create a trial account so you can start playing around with our dashboard right away.',
				title: 'Thank you, we look forward to meeting with you.',
				intro: 'One of our team members will be in touch shortly to arrange a time. See you at eDay.'}
%section.bg-green
  =partial 'banner',
		locals: { image: 'supericons/bg-green/eight.svg',
				title: '#papernotifications',
				intro: 'We also have something very special (and a little mysterious) planned.'}
