---
title: Behandelpad | Case Studies | UniqLeads
image: behandelpad-one.png
og_title: "Case Study: Behandelpad"
page_type: article
description: The healthcare app ‘Behandelpad’ is quickly becoming a favorite at Dutch hospitals. The app provides patients with bite-sized information on treatments and procedures at the time when its most relevant.
---

.bg-green
	=partial 'split-view', locals: { image: 'behandelpad-two.png' } do
		%h1 Behandelpad healthcare app improves patient care with timely notifications

.bg-grey
	.content-block.center-text
		%h4 The healthcare app ‘Behandelpad’ is quickly becoming a favorite at Dutch hospitals. The app provides patients with bite-sized information on treatments and procedures at the time when its most relevant.

.bg-white
	=partial 'split-view', locals: { image: 'behandelpad-one.png' } do
		%h4 This “right message at the right time” approach is what makes the app highly engaging and is only possible through timely push notifications and a partnership with Dutch  marketing platform UniqLeads.

.container.content-block
	%section
		%p It was only a year ago when the first Dutch hospital started using the Behandelpad app (developed by Interactive Studios). Today the number of hospitals using it has increased to twenty and counting! The secret ingredient of the app’s success is creating REAL engagement amongst its users which is done through a partnership with  marketing platform UniqLeads.
		%P UniqLeads makes it possible to integrate full  marketing support into  apps with one simple plug-in. Companies can then use this to communicate with app users via smart notifications.
		%h3 Notification platform
		%p The Behandelpad app provides patients with information before and after a medical procedure. Thomas Timmers, Director at Interactive Studios, explains the idea behind the app:
		%blockquote “Normally patients who undergo an invasive medical procedure, such as an operation, are given a stack of brochures by the doctor, which the patient is supposed to read to prepare for the procedure. It tends to be too much information for the patient to absorb all at once and can be difficult to understand too. It is also hard for the patient to know which information is relevant and when. This app solves that problem by giving the information to the patient in stages, and at the right moments.”
		%p
			=image_tag 'behandelpad-logo.png', style: "float: right;height:175px;width:175px;"
		%p This staggered communication of the relevant information, at the appropriate times, is what the UniqLeads platform facilitates with push notifications. Patients who have the Behandelpad app receive notifications with information and questions at regular intervals. For example, the notification: ‘You should not eat or drink anything for 24 hours before your procedure,’ is sent two days prior to the operation. Or after the procedure: ‘Begin your exercises now, but be careful with certain movements. Watch the video: Safe movements.’ Another example would be how the app is also able to inquire about the well-being of the patient.
		%br
		%h3 The right information at the right time
		%p When the app was first launched, patients would receive one or two notifications per procedure. These days, they are receiving from seven to ten messages. These notifications are making the app far more effective as they play a major role in bringing users back into the app.
		%blockquote “I see a causal relation between the number of app views and the number of push notifications sent. Without the notifications, the patient and hospital are actually back to where they started. Because the patient still has to work his or her way through a stack of digital information, and has to remember to access the app to do so. By receiving notifications, the patient gets the appropriate information at the relevant time. Patients are automatically given the relevant information and don’t have to go looking for it themselves. The click-through rates in the messages are really high.”
		%p At the moment, notifications are primarily being used to reach out to users, but in the near future, messages are also going to be used for two-way communication between doctors and patients.
		%blockquote “The notifications are going to use more of the smartphone’s functionalities, such as the camera. The app can send a notification to ask the patient to take a picture of a knee that has been operated on, for example. The picture gets sent back to the doctor, who can then judge if the healing process is going well, or if it needs to be looked at more closely. This could save the patient a visit to the hospital. Or a daily message in which the patient could assess their own wellbeing on a scale of 1 to 10. The patient can respond easily and quickly, and the physicians are provided with an indication of how it is going.”
		%br
		%h3 Dashboard
		%p Timmers is very pleased with the collaboration with UniqLeads:
		%blockquote “I find UniqLeads to be a very flexible company. We can give them our honest feedback and they really listen. By working together we are getting a better product.”
		%p The implementation of UniqLeads in the app was achieved with hardly any issues. Interactive Studios integrated the management of the  marketing platform into the dashboard of Behandelpad. This makes it possible for the hospitals to manage all the functionalities of the platform themselves, in one place. They can review many statistics, including  devices used by patients or even schedule their own notifications. Interactive Studios, working with UniqLeads, has already sent more than 75,000 notifications this year.

		%br
		%h3 Want to read it later?
		=link_to 'Download the case study.', '/assets/pdfs/behandelpad-casestudy.pdf', download: 'behandelpad-casestudy.pdf'