---
title: Red Cross | Case Studies | UniqLeads
image: bgimg_red_cross.jpg
og_title: "Case Study: Red Cross"
page_type: article
description: How can you help people in an emergency as quickly and effectively as possible? The Dutch Red Cross (Nederlandse Rode Kruis) has developed an app that can provide people in the Netherlands with relevant and context-sensitive information. One of its key elements is its use of  marketing platform UniqLeads, which makes it possible to send location-based and personalized push notifications. With this app the Rode Kruis is creating a unique form of one-on-one interaction with its followers.
---

.bg-red
	.content-block
		%h1 Red Cross’s First Class  Marketing Program

.container.content-block
	%section
		%h2 The Red Cross offers personalized first aid information with  app
		%p
		=image_tag 'red_cross.png', style: "float: right;margin: 20px;margin-bottom: 40px;height:140px;width:140px;"
		%p How can you help people in an emergency as quickly and effectively as possible? The Dutch Red Cross (Nederlandse Rode Kruis) has developed an app that can provide people in the Netherlands with relevant and context-sensitive information. One of its key elements is its use of  marketing platform UniqLeads, which makes it possible to send location-based and personalized push notifications. With this app the Rode Kruis is creating a unique form of one-on-one interaction with its followers.
		%p The Red Cross is an international emergency services organization that many people associate with disaster relief and first aid in conflict zones. It is less well known that health and safety training and education are also important focal points of the organization. In the Netherlands only 3.2% of the population has up-to-date health and safety training; that number urgently needs to be increased.

		%p Simone van Oosten, marketeer at the Red Cross, says:

		:markdown
			*“People increasingly have to rely on their own resources to take care of the people close to them. However, the average Dutch person has a very limited knowledge of health and safety essentials. We are more or less on the same level as Azerbaijan.”*

		%p To increase the health and safety know-how of the Dutch population, a first aid app has been developed. This app offers support to civilians in emergencies with spoken instructions and more.
		:markdown
			*“People always carry their smartphone with them. That makes it the perfect tool to use for getting help quickly in an emergency. People can use it when they are out and about, or at home,”* says Van Oosten.

	%section
		%h3 Specific targeting 
		:markdown
			The app has been downloaded 1.4 million times already, and is consulted 120,000 times per month. Upon installation the app asks users if they want to receive the newsletter and push notifications. More than 125,000 people answered yes to the first question and a good 330,000 said yes to the second question. Those are valuable statistics, although the Rode Kruis didn’t make immediate use of both information channels. Van Oosten: *“Push notifications were secondary at first, but we soon came to realize we could get more use out of them. For the Rode Kruis this is the perfect way to speak to 330,000 people directly. At first we thought we could use them to send information on the basis of location, for example when disasters occur. For example if an explosion takes place in Limburg, you can send a message to a great number of users in that region with one notification. We looked for a partner to help us with that concept. After meeting with several companies it quickly became clear that UniqLeads was offering exactly what we were looking for.”*

		:markdown
			UniqLeads is a  marketing platform that companies can use to enrich their  apps with interactive contextual messages. This enables personal and location-based interaction with users. The Red Cross has been working with UniqLeads since May 2013 and has integrated the tool into the existing app. *“UniqLeads met all of our requirements,”* says Van Oosten. *“Most of the work that had to be done consisted of linking UniqLeads to our app. UniqLeads and our  agency company were able to accomplish this in a very short period of time.”*

	%section
		%h3  Impressive reach
		:markdown
			 The Rode Kruis currently sends out approximately five push notifications per year, for various purposes. According to Van Oosten, the messages should always have high relevance so that people don’t get annoyed by them and end up opting out. The results are good. Van Oosten gives one example of geofencing: *“Last year we did a campaign on first aid for babies and children. I sent out a special push notification in the Amsterdam region about a workshop being held in that area, with great success. It led to 4,000 visits to our website from people clicking on the message. We received 60 registrations for the workshop in two days. Those are big figures that we usually only see when we carry out large promotional campaigns.”*

		%p UniqLeads also proved very effective when sending out a survey to app users with questions about the app itself.

	=partial 'split-view', locals: {image: 'bgimg_red_cross.jpg'} do
		%blockquote
			By sending out the survey in a push notification you reach the users directly and they are more inclined to take part. The first time we did this, we sent 120,000 people a message and 10,000 filled in the survey. That’s a huge result.

	:markdown
		Van Oosten is very satisfied with the collaboration. *“There is a lot of technical expertise at UniqLeads and they are proactive with their advice. And last but not least: UniqLeads gave us a break on the financial side of things. That’s a great boon for a non-profit organization like us.”* The UniqLeads platform is easy to use for Van Oosten and her colleagues. *“The dashboard is very user friendly. You can also test out messages to optimize your campaign. It is nice that you can immediately see the result of a push notification and so gain insight into the way an app is being us.”*

	%section
		%h3 Close up and personal

		:markdown
			 The Red Cross has scheduled a number of notifications for the coming period. *“The next push we are sending out is part of the Ready2Help campaign. It is our goal to recruit civilian aid providers who can assist in case of an emergency. After that we are sending out another one asking people to register their AEDs (Automated External Defibrillators) with us. We are trying to add to the number of AEDs that have been catalogued by the Radboud UMC so far. And in September World First Aid Day is being celebrated. I expect we will be using UniqLeads for that event too; this time to raise awareness and to encourage people to brush up their first aid skills.”*

	%section
		%h3 Direct interaction

		:markdown
			 The Red Cross has plenty of plans for the app in combination with UniqLeads. *“The use of push notifications in disaster situations will of course always be of interest for us. We are entering an era of increasing disaster, for example because of increasingly extreme weather situations.” The results achieved so far with UniqLeads are reason enough to continue the use of context-based  messages.* Van Oosten: *“With UniqLeads we have been able to realize direct interaction with our followers. We can reach them one-on-one with this platform. Communicating through only a website, newsletter or just an app doesn’t compare. With a message on the smartphone you can take a very personal approach. And the app users want this too. I think the number of people who accept notifications is only going to grow in the coming years.”*

		%p The RedCross app was successfully developed by UniqLeads's partner <a href="http://company.com/nl/">company</a>

		:markdown
			Want to read it later?
		=link_to 'Download case study.', '/assets/pdfs/redcross-casestudy-UniqLeads.pdf', download: 'redcross-casestudy-UniqLeads.pdf'