---
title: The Staatsloterij | Case Studies | UniqLeads
image: staatsloterij-feature.jpg
og_title: "Case Study: The Staatsloterij"
page_type: article
description: The Staatsloterij is making substantial investments in the website and app and has now chosen UniqLeads to be its  marketing platform. This allows the Staatsloterij to approach clients on their smartphone in new ways with relevant and location-based push notifications.
---

.bg-green
	.content-block
		%h1 The Staatsloterij is investing in the future with  marketing and iBeacons

.container.content-block
	%section
		%p
		=image_tag 'staatsloterij-logo.png', style: "float: right;height:200px;width:246px;"
		%h4 The Nederlandse Staatsloterij (the Dutch State Lottery) is one of the largest gaming organizations in the Netherlands and, what’s more, the organizer of one of the oldest lotteries in the world: the Staatsloterij (since 1726). The vast majority of Staatsloterij tickets are sold in shops or by subscription, but online sales are increasing every year.
		%br
		%h4 The Staatsloterij is making substantial investments in the website and app and has now chosen UniqLeads to be its  marketing platform. This allows the Staatsloterij to approach clients on their smartphone in new ways with relevant and location-based push notifications.
		%br
		%p
		=image_tag 'staatsloterij-beacons.png', style: "float: right;height:242px;width:275px;"
		%p As the role of the online market is getting bigger, the Staatsloterij site and  app have developed apace. A development that, according to Rogier van Dodewaard, site owner of the Staatsloterij, is supported by the best providers in the field: “For our website we work with Fabrique, and Q42 develops our app for us. This way we stay in control of the graphics side of the venture, and are able to respond to the wishes of the dynamic online market more rapidly.”
		%p UniqLeads is a good fit for The Staatsloterij as they want to work with suppliers located in the Netherlands to ensure quick and seamless collaboration.
		%blockquote We were already doing some things in  marketing, but we were looking for an organization with a more far-reaching vision of where  marketing is headed in the future. It turned out there is only one candidate that fits the description and that is UniqLeads. What also tipped the scales in their favor is the fact that they are already working for various large retail organizations; companies like Bol.com, Hema and De Bijenkorf.
		%cite
		.center-text
			%p Rogier Van Dodewaard, site owner at The Staatsloterij
		%br
		%h2 Push notifications and iBeacons
		%p The average consumer has more and more apps on his or her phone everyday, so that their attention becomes a limited resource. Push notifications are an effective way of drawing attention to an app. However, the more often it is used the less effective it becomes. “I think we have even already reached the point of saturation when it comes to notifications,” says Van Dodewaard.
		%blockquote Many people already turn off push notifications by default, because they don’t want to receive commercial messages. You need to use push notifications sparingly and make them personally relevant, using segmentation and geolocation, for example.
		%p The solution the Staatsloterij was using previously didn’t really fix the problem in his opinion:
		%blockquote Our app did have push notifications, but we only had one option: to send messages to all users at once. We weren’t able to use segmentation or send messages based on location. UniqLeads goes a step further and supports a range of ways to make messages more personal, with geofencing and iBeacons among others. Now we can send a message to a specific region, if a great big prize has been won there, for example.
		%br
		%h2 Investing in the future
		%p
		=image_tag 'staatsloterij-screen.png', style: "float: right;margin-left: 20px;margin-bottom: 10px;height:556px;width:286px;"
		%p Another point in favor of choosing UniqLeads was that a wish had already been expressed within the Staatsloterij to do something with iBeacons. “I think the idea of iBeacons is already firmly entrenched among consumers,” says Van Dodewaard. “They may not know precisely how it works, but they think it’s interesting. In the app’s installation we try to explain the benefits as clearly as possible in four information screens. In the end the biggest advantage of iBeacons is that you can send people messages in places where the messages will have the most relevance for them.”
		%p One of the uses UniqLeads is developing for the Staatsloterij is the announcement of the lottery draw results. The app can also make personally tailored offers to customers and alert them to upcoming draws. Players will then be given the opportunity to buy a ticket instantly.
		%p As a test the Staatsloterij has furnished 20 shops in the Netherlands with iBeacons, each shop now has one beacon by the cash register and one by the entrance. “At this moment we are still full on in the experiment stage. We mainly want to discover what the options are and what works best for us.”
		%h2 Implementation and support
		%p Van Dodewaard is pleased with the way that UniqLeads has been integrated into the Staatsloterij app:
		%blockquote UniqLeads can be integrated into an app with relative ease. Next, you can make use of all the options it offers via its intuitive management environment. The ease of use is enormous and I think they are a few steps ahead of other parties in that respect. But I think their most distinctive feature is how they are offering new technological solutions to their clients. UniqLeads’s support division is also very good, for example.
		%br
		%h2 Vision
		%p With avantgarde solutions such as  marketing and iBeacons, it is very important to have access to clear information on the use of these technologies.
		%blockquote UniqLeads has also played an important advisory role for us. They are thought leaders in their field and have a clear vision of the future of  marketing and its applications that can be of use for a company such as the Staatsloterij. Thanks to its clear vision on the possible uses of UniqLeads, it was able to help us on a strategic level. I am very pleased with the product, the ease of use and the possibilities that it is providing us with.

		%br
		%h4 Want to read it later?
		=link_to 'Download the case study.', '/assets/pdfs/staatsloterij-casestudy.pdf', download: 'staatsloterij-casestudy.pdf'