---
title: SDKs | Features
og_title: Powerful SDK for iOS, Android and Web
description: Our SDK will have you up and running today. Do more things and do it faster.
---

%section.bg-black
  =partial 'banner',
    locals: { image: 'supericons/bg-black/sdk.svg',
    title: 'Powerful SDK for iOS, Android and Web',
    intro: 'Our SDK will have you up and running today. Do more things and do it faster.'}



.bg-grey
  .container.content-vspace
    .row
      .sm-6
        %h2 Native iOS
        %p Start sending and receiving smart push notifications in your iOS app. We fully support both APNS and WebSockets protocols in our iOS Libraries. Include our library in your project and you will be receiving push notifications, even in the XCode Simulator. Great for debugging and testing your app. Bootstrap your project in a matter of hours.
        %a.btn--ghost{href:"//docs.uniqleads.com/sdk"} more info

      .sm-6
        %h2 Native Android
        %p We help you take the most out of Google Cloud Messaging service. Easy to set up, our libraries will provide all it takes to start sending push notifications to Android devices. Benefit from all the optimizations and compatibility layers we added to Google's platform. High end user experience even in low end Android models.
        %a.btn--ghost{href:"//docs.uniqleads.com/sdk"} more info

    .row
      .sm-6
        %h2 Website Push
        %p Full-duplex communication protocol designed for the web. UniqLeads extended the power of smart notifications to your browser. Broadcast real-time updates with rich and actionable content directly to your website's visitors. Grab our library now.
        %a.btn--ghost{href:"//docs.uniqleads.com/sdk"} more info

      .sm-6
        %h2 Phonegap/Cordova
        %p Build apps using web technologies like HTML, CSS and Javascript. This free and open source framework generates app-store ready apps. Enable UniqLeads in your Cordova app today with our plugin.
        %a.btn--ghost{href:"//docs.uniqleads.com/sdk"} more info
    .row
      .sm-6
        %h2 Xamarin
        %p Reuse the same code base across multiple platforms. Xamarin lets you create native iOS and Android apps using C#. Add UniqLeads to your project directly from Xamarin Components directory.
        %a.btn--ghost{href:"//docs.uniqleads.com/sdk"} more info

      .sm-6
        %h2 Titanium
        %p Titanium is a framework that allows you to build apps with Javascript and efficiently compile them to native iOS or Android apps. Quickly add our open source module to your Titanium project and tap into our comprehensive SDK.
        %a.btn--ghost{href:"//docs.uniqleads.com/sdk"} more info

%section.bg-red
  .content-block.center-text
    %h2 So get started right now!
    Tap into a new world of contextual and smart notifications.
    %br Try it free for 30 days. No credit card needed.
    =link_to 'view a 15-min demo', '/demo', class: 'nav-item btn'
