---
title: Targeted Contact | Features
og_title: Targeted Contact and Company Research for Niche Markets
description: Heightened SPAM compliance regimes around the world poses a unique challenge to companies running direct marketing campaigns.
---

%section.bg-green
  =partial 'banner',
		locals: { image: 'supericons/bg-black/screens.svg',
				title: 'Targeted Contact and Company Research for Niche Markets',
				intro: 'Heightened SPAM compliance regimes around the world poses a unique challenge to companies running direct marketing campaigns.'}

.bg-grey
  =partial 'split-svgs-view', locals: { image: 'supericons/bg-green/screens.svg' } do
    %h2 Maximise Value of Each Contact
    %p It is essential that companies maximise the value of each contact in their database whilst also taking a respectful approach to how they run their email marketing campaigns.

.bg-grey
  =partial 'split-svgs-view', locals: { className: 'split-view--reverse', image: 'supericons/bg-red/phone.svg' } do
    %h2 Database Cleanse
    %h3 Maximise the utility of your database

    %ul
      %li Identify and remove duplicates
      %li Identify and tag similar records
      %li Correct and complete address and phone fields
      %li Remove obsolete data
      %li CRM / ERP system migration projects
      %li Verification of email address
      %li Mailing list cleanup

    %p Our professionally trained employees staff bring years of experience and proven expertise at cost effective price. We have worked on databases of 500 contacts through to 500,000 contacts and 100,000 companies/accounts.

    %p We use a combination of data cleansing tools, MS Excel and manual entry to maximise efficiency whilst maintaining the accuracy and integrity of the database.

.bg-grey
  =partial 'split-svgs-view', locals: {  image: 'supericons/bg-white/data-dashboard.svg' } do
    %h2 Measure your campaign success
    %p Find out how your messages perform. See how they compare to each other, discover what content works best and which email gets more attention and reactions.


.bg-black
  .content-block.center-text
    %h2 Ready to try UniqLeads?
    Start sending targeted emails today.
    %br
    =link_to 'view a 15-min demo', '/demo', class: 'nav-item btn'



.bg-grey
  =partial 'split-svgs-view', locals: { className: 'split-view--reverse', image: 'supericons/bg-red/card-and-ticket.svg' } do
    %h2 Relevant contacts
    %p Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.

.bg-green
  =partial 'split-svgs-view', locals: {  image: 'supericons/bg-green/analytics_turquoise.svg' } do
    %h2 Audience targeting
    %p Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.

%section
  .content-block.center-text
    %h2 So get started right now!
    Tap into a new world of targeted leads.
    %br Let us research your first 200 contacts free. No credit card needed.
    =link_to 'watch a 15-min demo', '/demo', class: 'nav-item btn'
