---
title:  Marketing Platform | Products | Automation
og_title: UniqLeads Automation Add-On
description: Increase productivity by automating how you send push notification campaigns.
---

.bg-black
  =partial 'split-view', locals: { image: 'automate-product.jpeg' } do
    %h1 Automation Add-On
    %p Increase productivity by automating how you send push notification campaigns.

.bg-green
  .content-block.center-text
    %h3 Market more effectively on multiple channels. Automate repetitive tasks. Take back your time.

.bg-grey
  =partial 'split-svgs-view', locals: { className: 'split-view--reverse', image: 'supericons/bg-white/rss-feed.svg' } do
    %h2 Push Channels
    %p Automatically distribute RSS feed updates (like a blog post or news site feed) to any specific segments of your audience via push notifications.<br><br>Go further by specifying which one of your RSS feed categories gets distributed to which segments of your audience.


%section
  .content-block.center-text
    %h2 Ready to claim back your time?
    Try our Automation Add-On Today!
    %br
    =link_to 'Contact Sales', '/contact', class: 'nav-item btn'