---
title: Entertainment | Solutions
og_title: Entertainment
description: With UniqLeads you can do more with your audience. Activate them on proximity, gain loyalty and create smart omni-channel campaigns.
---

%section.bg-red
	=partial 'banner', 
		locals: { image: 'microphone.svg',
				title: 'Entertainment',
				intro: 'With UniqLeads you can do more with your audience. Activate them on proximity, gain loyalty and create smart omni-channel campaigns.'}

.bg-green
	=partial 'testimonial', locals: { quote: 'As a  agency we deliver high quality  platforms that need a reliable and innovative push platform. The UniqLeads platform has a lot to offer, we love the product and what it can do for our clients.', source: 'Sam Y, CEO company'}

%section
	.content-block.center-text
		%h2 So get started right now!
		Tap into a new world of contextual and smart notifications.
		%br Try for 30 days for free. No credit card needed.
		=partial 'signup-form', locals: {button_text: 'Start your free trial'}