---
title: Request a Demo
---
.bg-green
	.container
		%h1.xs-12.xs-p-2 Request a Demo


.container
	.row
		.sm-6
			=partial 'salesforce-form', locals: {type: 'demo_request'}
			%br
			%br
			%img{:alt => "Request a Demo", :src => "/assets/images/composer-demo.png", :style => "border: 1px solid LightGrey;"}
		.sm-6
			.content-block
				%img{:alt => "Request a Demo", :src => "/assets/images/dashboard-demo.png", :style => "border: 1px solid LightGrey;"}
				%h3 What to expect:
				%br
				→ Awesome people
				%br
				→ A walk-through of our beautiful dashboard
				%br
				→ iBeacons & Geofencing technology
				%br
				→ Loyalty component (distribute coupons, passes)
				%br
				→ How we increase app engagement and reduce opt-outs
				/ %br
				/ → A window into personalized marketing
				/ %br
				/ → Let us clean your first 200 contacts free
 				%h3 Prefer to speak with us right now?
				%br
				Sure thing. Feel free to give us a call:
				%br
				%br
				UK:
				%a{href:"tel:+3333333333"} +33333333333
				%br
				UA:
				%a{href:"tel:+55555555555"} +44555555555
				%p
