---
title: Thank you for your demo request
---
%section.bg-grey
  =partial 'banner-landing-page',
		locals: { image: 'supericons/bg-black/screens.svg',
				form_text: '',
				button_text: 'Start uniqleads.com trial account',
				form_undertext: 'In the meantime, create a trial account so you can start playing around with our dashboard right away.',
				title: 'Thank you for your request.',
				intro: 'One of our team members will be in touch shortly.'}