---
title: Contact | UniqLeads
---

%section.bg-black
	=partial 'banner',
		locals: { image: 'supericons/partnership.svg',
			title: 'Let’s partner up!',
			intro: 'Accelerate your development time with our extensive collection of libraries and plugins for all major frameworks. Premium support, brainstorm, code reviews, pitch & concept are some of the benefits of enrolling our Partner Program.'}

.bg-red
	=partial 'split-view', locals: { image: 'bgimg_partnerup.png' } do
		%h2 Join the  revolution
		%p Is your agency already creating user-centric  experiences? How much of your revenue is coming from driving engagement of  users and maximizing your customer's applications? We are here to support agencies like yours to move faster and make more money using technologies like Remote Push Notifications and Location Services.
		%p We are experts in  development with decades of experience. We work closely with brands and companies to create the ultimate  experience and your agency can be part of it.
		%p From enterprise level consultants or creative agencies to freelancers, we have solutions for every budget.

%section
	.content-block
		%h2.center-text Interested? Get in touch!
		%form.UniqLeads-form{data: {type: 'info', redirect: false}}