---
title: Contact | UniqLeads
---

%section.bg-black
	=partial 'banner',
		locals: { image: 'supericons/partnership.svg',
			title: 'Let’s partner up!',
			intro: 'Accelerate your development time with our extensive collection of libraries and plugins for all major frameworks. Premium support, brainstorm, code reviews, pitch & concept are some of the benefits of enrolling our Partner Program.'}

.bg-red
	=partial 'split-view', locals: { image: 'bgimg_partnerup.png' } do
		%h2 Join the  revolution
		%p Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
		%p We work closely with brands and companies to create the ultimate  experience and your agency can be part of it.
		%p From enterprise level consultants or creative agencies, we have solutions for every budget.

%section
	.content-block
		%h2.center-text Interested? Get in touch!
		%form.uniqleads-form{data: {type: 'info', redirect: false}}