---
title: Careers | Available Jobs at UniqLeads
---
.bg-green
	.container
		%h1.xs-12.xs-p-1 Careers | Available Jobs at UniqLeads

.bg-grey

	=partial 'split-svgs-view', locals: { image: 'tumblr_ndyg3pYbKW1tubinno1_1280.jpg' } do
		%h2 Research Sales Analyst - Voice

		%p
			Want to work in a company that strives to inspire their people? If you think you have what it takes to work in a fast-paced, young and growing company, get in contact with us. We promise to develop your skill set, build your experience and advance your career quickly.
			/ %em squad.

		%a.btn{href:"/assets/pdfs/research-sales-analyst-voice.pdf"} Read more

.bg-grey

	=partial 'split-svgs-view', locals: { image: 'tumblr_ndyg3pYbKW1tubinno1_1280.jpg' } do
		%h2 Researcher Analyst Voice

		%p
			Want to work in a company that strives to inspire their people? If you think you have what it takes to work in a fast-paced, young and growing company, get in contact with us. We promise to develop your skill set, build your experience and advance your career quickly.
			/ %em squad.

		%a.btn{href:"/assets/pdfs/research-analystVoice.pdf"} Read more

.bg-grey

	=partial 'split-svgs-view', locals: { image: 'tumblr_ndyg3pYbKW1tubinno1_1280.jpg' } do
		%h2 Contact Discovery

		%p
			Want to work in a company that strives to inspire their people? If you think you have what it takes to work in a fast-paced, young and growing company, get in contact with us. We promise to develop your skill set, build your experience and advance your career quickly.
			/ %em squad.

		%a.btn{href:"/assets/pdfs/contact-discovery.pdf"} Read more

.bg-grey

	=partial 'split-svgs-view', locals: { image: 'tumblr_ndyg3pYbKW1tubinno1_1280.jpg' } do
		%h2 Admin Support

		%p
			Want to work in a company that strives to inspire their people? If you think you have what it takes to work in a fast-paced, young and growing company, get in contact with us. We promise to develop your skill set, build your experience and advance your career quickly.
			/ %em squad.

		%a.btn{href:"/careers/admin-support"} Read more

