---
title: Careers
---
.bg-green
	.container
		%h1.xs-12.xs-p-1 Careers

.bg-grey

	=partial 'split-svgs-view', locals: { image: 'tumblr_ndyg3pYbKW1tubinno1_1280.jpg' } do
		%h2 Available Jobs at UniqLeads: 
		%ul
			%li
				%h3 Sales
			%li
				%h3 List Researcher
			%li
				%h3 Name Collect
			%li
				%h3 Admin Support
		%p
			Want to work in a company that strives to inspire their people? If you think you have what it takes to work in a fast-paced, young and growing company, get in contact with us. We promise to develop your skill set, build your experience and advance your career quickly.
			/ %em squad.

		%a.btn{href:"/careers/sales-squad/"} Read more


