---
title: Cookie Policy
---
.bg-red
	.container
		%h1.xs-12.xs-p-1 Cookie Policy
.container
	:markdown
		This Cookie Policy of UniqLeads explains in which way cookies are stored on and information is read from your computer, tablet and/or  phone (hereafter: “Terminal Equipment”) through the website of UniqLeads. This Cookie Policy also states for which purposes the collected information will be used. We thus advise you to read this Cookie Policy carefully.

		### What are Cookies?
		Cookies are small (text) files that are sent to your browser while you are visiting the website or using the service of UniqLeads and are subsequently stored on the hard drive or in the memory of your Terminal Equipment. At your next visit to the website, the browser can send back this information. The cookies that are stored through this website cannot harm your Terminal Equipment or any files that are saved on your Terminal Equipment.

		### Which cookies are used by UniqLeads and for which purpose?

		#### UniqLeads’s Cookies
		This paragraph applies to those cookies that are stored and read by UniqLeads itself. No third parties are involved in storing and reading these so-called first party cookies.

		Firstly, UniqLeads stores technical cookies. These cookies are necessary to provide the requested service. For instance, technical cookies allow you to proceed through different pages of a website with a single login and they remember selections in (order)forms that are filled out on the website.

		Besides technical cookies, UniqLeads stores cookies that are only stored on your Terminal Equipment temporarily. These cookies are automatically erased when you close your browser. These so called session cookies are used to map your online behaviour during a visit to the website. UniqLeads can use this information to adjust its website to the needs of its users.

		Also, UniqLeads can store cookies that remain stored on your Terminal Equipment for a longer period of time. With these permanent cookies your Terminal Equipment can be recognized the next time you visit the website. These cookies enable UniqLeads to adjust the website to your specific preferences. Since your preferences are already set, your next visit will be less time-consuming and more agreeable.

		Furthermore, UniqLeads uses permanent cookies to track your online behaviour. UniqLeads uses these tracking cookies to register your behaviour on the website and to present you with offers specifically tailored to you based on this information.

		Reading information without cookies
		Besides storing cookies, UniqLeads reads information from your browser and Terminal Equipment without a cookie being stored. In this way, UniqLeads collects the (technical) features of your Terminal Equipment and software used by you, such as the type of operating system, the browser settings, the installed plug-ins, the time zone and the screen size. UniqLeads uses this information to track your online behavior.

		#### Third party cookies
		Apart from cookies that UniqLeads itself stores, third parties can store cookies on your Terminal Equipment through the website. This paragraph applies to these third party cookies. UniqLeads can not control or influence the use of these cookies and/or the use by third parties of the information collected through these cookies. UniqLeads only provides the platform that enables storing these third party cookies. UniqLeads emphasizes that on the use of the data collected through these cookies further conditions of third parties may be applicable. The different types of third party cookies that are stored through the website are discussed below.

		#### Google Analytics
		In order to collect data on the usage of the website and visits to the website, UniqLeads uses Google Analytics. Google Analytics stores a permanent cookie on your Terminal Equipment which is subsequently used to register your use of the website. This data is then analyzed by Google and the results are given to UniqLeads. This enables UniqLeads to get more insight in the way in which the website is used and, based on this information, to make adjustments to the website or the provided services.

		Google can give this information to third parties if it is legally obligated to do so and/or if third parties are processing the information on behalf of Google. Google can not use the information for other Google services.

		#### Social plug ins
		The website is linked to various social media, including but not limited to Facebook, Twitter, LinkedIn and Google+. Through the use of these social plug ins you can share and recommend information to others. Through the social plug ins, third party cookies are stored on your Terminal Equipment. These are cookies that are used to optimize your experience of the website. Also, tracking cookies may be stored that are used to track your online behaviour when using various websites and to build a profile of your online behavior.

		Besides that, videos are shown on the website that come from third party websites, including You Tube. These third parties store cookies that make it possible to show you the videos. Also, tracking cookies may be stored that are used to track your online behaviour when using various websites and to build a profile of your online behavior.

		#### Deleting cookies
		The consent you have given to store and read first and third party cookies, can be withdrawn at any time by setting your browser to disable cookies and/or to remove all cookies from your browser.

		By clicking the links below, you can read how you can delete the different types of cookies from different browsers.

		* [Chrome](http://support.google.com/chrome/bin/answer.py?hl=nl&answer=95647)
		* [Firefox](https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer)
		* [Internet Explorer](http://windows.microsoft.com/nl-NL/windows7/Change-Internet-Explorer-9-Privacy-settings)
		* [Safari](http://support.apple.com/kb/PH5042)
		* [Opera](http://help.opera.com/Windows/12.10/en/cookies.html)

		Please take into account that deleting cookies may cause some parts of the website to work incorrectly.

		#### Privacy Policy
		It is possible that information collected through a cookie or obtained otherwise, contains personal data. If this is the case, the Privacy Policy of UniqLeads is applicable on the processing of these data. The Privacy Policy can be read [here](http://uniqleads.com/privacy).

		#### Changes
		This Cookie Policy can be changed at all times. Changes in the Cookie Policy will be announced on the website.

		#### Questions
		If you have any further questions about this Cookie Policy, you can send an e-mail to [support@uniqleads.com](mailto:support@uniqleads.com) You can also find additional information on the use of cookies on the website of the Dutch consumers' association.

		**Last modified: 29 March 2016**