.bg-green
	.content-vspace
		.container
			%h1 Documentation

.container.content-vspace
	.row
		%aside.md-3
			%ul.js-accordion.list-documentation.list-reset
				%li.i-triangle_right
					Getting started
					%ol
						%li
							Subdivision
							%ul
								%li
									Watwat

		%article.md-9
			%section
				%h1 iOS - Settings & Customizations 
				
				%p Whereas NYC experiments with in-store iBeacons and London recently started a retail pilot in Regentstreet, the public-private partnership (of the municipality, developers, owners and tenants) are installing iBeacons throughout the whole city district. This is worldwide the largest iBeacon project and it’s set open for developers!
				
				%p Online agency Mangrove developed a launching app for Rotterdam Central District (RCD) with use of the marketing suite of Dutch tech startup UniqLeads making interactive notifications on all  devices possible. The plug-in offers app developers an easy end-to-end iBeacon solution.
				
				%p RCD president Hans de Jonge: “We chose to set the iBeacons™ open so developers can test their ideas on a large scale in the Rotterdam Central District. We also strongly believe iBeacons™ offer possibilities for non-retail. For instance for safety reasons. Checking in via  so we can pinpoint at a certain moment who is where in the building.”