.bg-green
	.content-vspace
		.container
			%h1 Documentation

.container.content-vspace
	.row
		%aside.md-3
			%ul.js-accordion.list-documentation.list-reset
				%li.i-triangle_right
					Getting started
					%ol
						%li
							Subdivision
							%ul
								%li
									Watwat

		%article.md-9
			%section
				%h1 Settings & Customizations 
				
				%p Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
				
				%p Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
				
				%p Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.