---
title: Services
---
.bg-green
	.content-block
		%h1 All the amazing features of our  marketing platform

.container
	.content-block
		=partial 'feature', locals: { icon: 'screens'} do
			%h1 Cross-platform push notifications. One push for all.
			%p Deliver engaging cross-platform push notifications. Bring the power of smarter notifications to your customer’s desk, pocket or wrist.
			=link_to 'learn more', '/industries/unified-push-messaging', class: 'btn--ghost'

		=partial 'feature', locals: { icon: 'map'} do
			%h1 Contextual and triggered messaging.
			%p Step into a world of contextual messages with high relevance. See how iBeacon technology can transform your venue or store.
			=link_to 'learn more', '/industries/targeted-contact', class: 'btn--ghost'

		=partial 'feature', locals: { icon: 'card-and-ticket'} do
			%h1 Digital Offers, Store cards and  ticketing.
			%p Bring your traditional coupons, loyalty and reward programs into your customer’s digital wallets.
			=link_to 'learn more', '/industries/loyalty', class: 'btn--ghost'

		=partial 'feature', locals: { icon: '-with-box'} do
			%h1 Monetize with in-app products.
			%p Tap into millions of users in the App Store and Google Play.
			=link_to 'learn more', '/industries/in-app-products', class: 'btn--ghost'

		=partial 'feature', locals: { icon: 'analytics'} do
			%h1  Marketing Analytics.
			%p Powerful insights that help you make smarter decisions. Measure your success and improve your application performance.
			=link_to 'learn more', '/industries/analytics', class: 'btn--ghost'

		=partial 'feature', locals: { icon: 'sdk'} do
			%h1 Powerful SDK for iOS, Android and Web.
			%p Our SDK will have you up and running today. Do more things and do it faster.
			=link_to 'learn more', '/industries/sdks', class: 'btn--ghost'

		=partial 'feature', locals: { icon: 'cogs'} do
			%h1 Rock-solid platform that connects your business.
			%p Automate how you send notifications, categorize your audience or gather insights. React to your app or website events in real time.
			=link_to 'learn more', '/industries/platform', class: 'btn--ghost'
