---
title: Master your marketing
---

%section.hero
	.content-container
		%h1 Get your first 200 Contacts Researched Free
		%p We do all the work, you reap the benefits. It’s very simple.


		=partial 'signup-form', locals: {button_text: 'Start my free trial'}

=partial 'slider', locals: {slides: data.slider.features} do
	=link_to 'learn more about our products', '/products', class: 'btn'

.bg-green
	=partial 'testimonial', locals: {button: '#', source: 'John Doe, site owner at Sample Company', quote: 'We were already doing some things in  marketing, but we were looking for an organization with a more far-reaching vision of where  marketing is headed in the future. It turned out there is only one candidate that fits the description and that is UniqLeads.', image: 'marketingsuccess.svg'}

=partial 'clients'

%section
	.container
		.row
			.sm-3
				.placeholder
				=link_to '/features/targeted-contact' do
					=image_tag "tab-4.png"
				%h4 Targeted Contact & Company Research for Niche Markets
			.sm-3
				.placeholder
				=link_to '/features/database-cleanse' do
					=image_tag "tab-2.png"
				%h4 Database Cleanse
			.sm-3
				.placeholder
				=link_to '/features/sales-leadgen' do
					=image_tag "tab-3.png"
				%h4 Sales & Lead Generation
				%h4 Sales & Marketing alignment
			.sm-3
				.placeholder
				=link_to '/features/webchat' do
					=image_tag "tab-1.png"
				%h4 Web Chat



%section
	.content-block.center-text
		%h2 Get started right now!
		Start delivering the right message at the right time.
		%br
		=partial 'signup-form', locals: {button_text: 'Start my free trial'}
