---
title: Master your marketing
---

%section.hero
	.content-container
		%h1 Deep Sector Knowledge Specialist
		%h3 Get Your First 200 Contacts Researched FREE.
		%p We enrich &amp; generate your leads.


		=partial 'signup-form', locals: {button_text: 'Start my research'}
		%br
		%br
=partial 'slider', locals: {slides: data.slider.features} do
	=link_to 'learn more about our Services', '/services/', class: 'btn--ghost'

.bg-green
	.container.content-vspace.center-text

		%h1 Each email marketing list is unique which is why you need a specialist outsourced partner.
		%br
		/ .row
		/ 	.sm-3
		/ 		%h3 Bridge the gap between your  audience and your website visitors
		/ 		.placeholder
		/ 			=image_tag "deep-sector.svg"
		/ 	.sm-3
		/ 		.placeholder
		/ 			=image_tag "supericons/bg-white/analytics.svg"
		/ 		%h3 Transform your customer's location into valuable information
		/ 	.sm-3
		/ 		.placeholder
		/ 			=image_tag "supericons/offer.svg"
		/ 		%h3 Run loyalty and rewards programs that maximize your revenue
.bg-grey
	.container.content-vspace.center-text.solutions
		%h1 How we work
		%strong Everything from Lead Research, Lead Enrichment and Sales Development.
		/ .row
		/ 	.md-4
		/ 		.placeholder
		/ 			=image_tag "deep-sector.svg"
		/ 		%h3 1. Accurate turn around times
		/ 	.md-4
		/ 		.placeholder
		/ 			=image_tag "suitcase.svg"
		/ 		%h3 2. Data accuracy ­ we only research who you tell us too
		/ 	.md-4
		/ 		.placeholder
		/ 			=image_tag "analytics-yllw.svg"
		/ 		%h3 3. Make data-driven decisions based on on your most important KPIs
		.row
			.md-4
				.placeholder
					=image_tag "supericons/agent-menu.svg"
				%br
				%h2 Lead Research
			.md-4
				.placeholder
					=image_tag "supericons/callcenter-agent.svg"
				%br
				%h2 Sales Development
			.md-4
				.placeholder
					=image_tag "supericons/hourglass.svg"
				%br
				%h2 Lead Enrichment

		%br
			=link_to 'learn more about our services', '/services', class: 'btn'

/ .bg-grey
/ 	=partial 'testimonial', locals: {button: '#', source: 'John Doe, site owner at Sample Company', quote: 'We were already doing some things in  marketing, but we were looking for an organization with a more far-reaching vision of where  marketing is headed in the future. It turned out there is only one candidate that fits the description and that is UniqLeads.', image: 'deep-sector.svg'}
/ 	%br
/ 	%br

=partial 'partners'

%section
	.container.content-vspace.center-text
		%h1 We generate leads for a variety of industries
		%br
			.sm-3
				.placeholder
				=link_to '/industries/commercial-conference' do
					=image_tag "tab-4.png"
				/ %h4 Commercial Conference Company
			.sm-3
				.placeholder
				=link_to '/industries/outsourcing' do
					=image_tag "tab-2.png"
				/ %h4 Outsourcing for Small & Medium Enterprises
			.sm-3
				.placeholder
				=link_to '/industries/it-vendors' do
					=image_tag "tab-3.png"
				/ %h4 IT Vendors
			.sm-3
				.placeholder
				=link_to '/industries/recruitment' do
					=image_tag "tab-1.png"
				/ %h4 Recruitment
				%br
				%br
				%br
				%br

/ .bg-black
/ 	.container.content-vspace.center-text

/ 		%h2 
/ 		%br


.bg-white
	%section
		.content-block.center-text
			%h2 Are you ready to improve your sales? 
			Get your first 200 contacts researched free!
			%br
			=link_to 'learn more about our Services', '/services/', class: 'btn--ghost'
