---
title:  Marketing
layout: landing-pages
---

%section.bg-black
	=partial 'banner-landing-page',
		locals: { image: 'supericons/bg-black/phones.svg',
				form_text: '',
				button_text: 'Start your free trial',
				form_undertext: 'No credit card required',
				title: 'Master your marketing strategy',
				intro: 'Interactive and contextual notifications for Android, iOS and Web apps. Automate how you gain insights, categorize and reach your audience.'}

.bg-grey
	=partial 'split-svgs-view', locals: { image: 'supericons/bg-white/rich-interactive.svg' } do
		%h2 Turn your CRM or CMS solution into a powerful marketing platform
		%ul
			%li Make smarter decisions with insights from our analytics dashboard
		%ul
			%li Go further with Remote Push Notifications, Passbook, Geo-fences and iBeacons
		%ul
			%li Native iOS, native Android, Phonegap, Cordova, Xamarin, Titanium or website push, we’ve got you covered.
		%ul
			%li Our powerful SDK for iOS, Android and Web will have you up and running today.


=partial 'clients'

%section
	.content-block.center-text
		%h2 So get started right now!
		Enter the world of  marketing automation
		%br Try UniqLeads free for 30 days
		=partial 'signup-form', locals: {button_text: 'Start your free trial'}
