---
title: Pricing
---

.container
	.content-block
		%section
			%h1 Plans & Pricing
			%h3 All of our plans are based on users.
			%p In other words, you only pay per user who's installed your app and opted-in to receive push notifications.
			%br
			=link_to 'Developer & startup pricing', '/selfservice-pricing', class: 'btn--ghost'

.bg-black
	.container.xs-p-1.xs-pb-2
		=form_tag '', class: 'pricing-form form-inline js-currencyswitcher xs-mb-1' do
			%label
				%input{type:'radio', name: 'currency', value: 'euro', checked: true} Euros
			%label
				%input{type:'radio', name: 'currency', value: 'dollar'} U.S. Dollars
		.pricing-table
			.row
				- data.pricing.groups.each do |group|
					.lg-6.xs-mb-1
						%h2.h3.pricing__header=group.title
						- group.plans.each do |plan|
							.sm-6.no-padding
								- if plan.title.is_a? Array
									=partial 'pricing-range-column', locals: {plan: plan}
								- else
									=partial 'pricing-column', locals: {plan: plan}

.container
	.content-block
		%h2 Which Add-On is right for you?

		=partial 'feature', locals: { icon: 'card-and-ticket'} do
			%h1 Loyalty Add-On
			%p Say goodbye to paper coupons and plastic loyalty cards.
			=link_to 'contact sales', '/contact', class: 'btn--ghost'

		=partial 'feature', locals: { icon: 'map'} do
			%h1 Live API Add-On
			%p Real time events logged into your systems right as it happens.
			=link_to 'contact sales', '/contact', class: 'btn--ghost'

		=partial 'feature', locals: { icon: 'rss-feed-menu'} do
			%h1 Automation Add-On
			%p Increase productivity by automating how you send push notification campaigns.
			=link_to 'contact sales', '/contact', class: 'btn--ghost'

		=partial 'feature', locals: { icon: 'microphone'} do
			%h1 Monetize Add-On
			%p Sell in-app virtual goods via the Apple App Store and Google Play.
			=link_to 'contact sales', '/contact', class: 'btn--ghost'

		=partial 'feature', locals: { icon: '-with-box'} do
			%h1 Loyalty App
			%p Looking to digitalize your loyalty program but still don't have an app? There is a ready-to-go app for that.
			=link_to 'contact sales', '/contact', class: 'btn--ghost'


.bg-black
	.content-block
		%div
			%h3 Questions?
			%p Feel free to <a href="/contact/">contact us</a> anytime. Our team will be happy to assist you. If you'd like a guided walk-through of our platform, <a href="/contact/">sign up for a demo</a>.

=partial 'clients'

.bg-grey
	.content-block
		.center-text
			%h2 Our Customers Love Us
=partial 'testimonials', locals: {slides: data.testimonials.clients}
