---
title: Resources
---
.bg-green
	.container
		%h1.xs-12.xs-p-1 Resources

.bg-grey
	=partial 'split-svgs-view', locals: { image: 'iStock_Telemarketing-XSmall.jpg' } do
		%h1 Web Chat
		%h2 Enhance Your Customer Experience with Web Chat Support
		%br Are your prospective clients visiting your company’s website any time of day and any day of the year? How do you engage with them? What are your website’s visitor bounce rates?
		%br
		%a.btn{href:"/case-studies/Behandelpad/"} Read case study

.bg-grey
	=partial 'split-svgs-view', locals: { image: 'iStock_Telemarketing-XSmall.jpg' } do
		%h2 Curabitur blandit tempus porttitor.
		%br Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
		%br
		%a.btn{href:"/case-studies/staatsloterij/"} Read case study

.bg-grey
	=partial 'split-svgs-view', locals: { image: 'iStock_Telemarketing-XSmall.jpg' } do
		%h2 Engaging App Users with  Moments
		%br You're responsible for your company’s app, you have users who’ve downloaded it and opted-in to receive communication from you. Everything seems to be going well but at the same time you wonder why you're not seeing higher user engagement and retention.
		%br
		%a.btn{href:"/webinars/engaging-app-users-with--moments/"} Watch webinar

.bg-grey
	=partial 'split-svgs-view', locals: { image: 'bgimg_red_cross.jpg' } do
		%h2 Red Cross’s First Class  Marketing Program
		%br How does the Red Cross use its first aid app to support civilians in emergency situations and to increase the health & safety know-how of the Dutch population?
		%br
		%a.btn{href:"/case-studies/red-cross/"} Read case study

.bg-grey
	=partial 'split-svgs-view', locals: { image: '--retail.png' } do
		%h2  marketing  retail: 
		%br Retailers around the globe are realizing the potential  technologies have to increase sales and strengthen the relationship between brands and consumers. Learn more about using consumer location and behaviour information to create the shopping experience of the future.
		%br
		%a.btn{href:"/webinars/-marketing--retail"} Watch webinar
