---
title: Resources
---
.bg-green
	.container
		%h1.xs-12.xs-p-1 Resources

.bg-grey
	=partial 'split-svgs-view', locals: { image: 'iStock_Telemarketing-XSmall.jpg' } do
		%h1 Web Chat
		%h2 Enhance Your Customer Experience with Web Chat Support
		%br Are your prospective clients visiting your company’s website any time of day and any day of the year? How do you engage with them? What are your website’s visitor bounce rates?
		%br
		%a.btn{href:"/case-studies/Behandelpad/"} Read case study

.bg-grey
	=partial 'split-svgs-view', locals: { image: 'iStock_Telemarketing-XSmall.jpg' } do
		%h2 Curabitur blandit tempus porttitor.
		%br Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
		%br
		%a.btn{href:"/case-studies/staatsloterij/"} Read case study

.bg-grey
	=partial 'split-svgs-view', locals: { image: 'iStock_Telemarketing-XSmall.jpg' } do
		%h2 Cum sociis natoque penatibus et magnis.
		%br Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
		%br
		%a.btn{href:"/webinars/engaging-app-users-with--moments/"} Watch webinar

.bg-grey
	=partial 'split-svgs-view', locals: { image: 'bgimg_red_cross.jpg' } do
		%h2 Cum sociis natoque penatibus et magnis.
		%br Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
		%br
		%a.btn{href:"/case-studies/red-cross/"} Read case study

.bg-grey
	=partial 'split-svgs-view', locals: { image: '--retail.png' } do
		%h2  marketing: 
		%br Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
		%br
		%a.btn{href:"/webinars/-marketing--retail"} Watch webinar
