---
title: Individual or Startup Pricing
---

.container
	.content-block
		%section
			%h1 Individual or startups
			%p Start small and grow as you go with our online plans.
			%br
			=link_to 'Looking for Enterprise?', '/pricing', class: 'btn--ghost'

.bg-black
	.container.xs-p-1.xs-pb-2
		=form_tag '', class: 'pricing-form form-inline js-currencyswitcher xs-mb-1' do
			%label
				%input{type:'radio', name: 'currency', value: 'euro', checked: true} Euros
			%label
				%input{type:'radio', name: 'currency', value: 'dollar'} U.S. Dollars
		.pricing-table
			.row
				- data.pricing.groups.each do |group|
					.lg-6.xs-mb-1
						%h2.h3.pricing__header=group.title
						- group.plans.each do |plan|
							.sm-6.no-padding
								- if plan.title.is_a? Array
									=partial 'pricing-range-column', locals: {plan: plan}
								- else
									=partial 'pricing-column', locals: {plan: plan}

.container
	.content-block
		%div
			%h2 Questions?
			%p Feel free to <a href="/contact/">contact us</a> anytime. Our team will be happy to assist you. If you'd like a guided walk-through of our platform, <a href="/contact/">sign up for a demo</a>.

=partial 'clients'

.bg-grey
	.content-block
		.center-text
			%h2 Our Customers Love Us
=partial 'testimonials', locals: {slides: data.testimonials.clients}
