---
title: Solutions
---
.bg-red
	.content-block
		%h1 Solutions
		%p We have solutions for every industry and any type of business. It doesn’t matter if you’re a IT company or event organizer. We’re here to make sure you get the most out of your  marketing strategy.

.container
	.content-block
		=partial 'solution', locals: { icon: 'target'} do
			%h1 Targeted Contact and Company Research for Niche Markets
			%p Heightened SPAM compliance regimes around the world poses a unique challenge to companies running direct marketing campaigns.
			=link_to 'let’s partner up!', '/solutions/agencies', class: 'btn--ghost'

		=partial 'solution', locals: { icon: 'cogs'} do
			%h1 Database Cleanse
			%p Maximise the utility of your database
			=link_to 'learn more', '/solutions/retail', class: 'btn--ghost'

		=partial 'solution', locals: { icon: 'analytics'} do
			%h1 Sales & Lead Generation
			%strong How much of your sales team’s time is spent cold calling to build leads?.
			%p The high cost of salespeople and as a result, the high cost per lead through cold calling is being augmented by new sales and marketing platforms which not only provide greater reach generates leads for salespeople so they don’t have to cold call.
			=link_to 'let’s partner up!', '/solutions/agencies', class: 'btn--ghost'

		=partial 'solution', locals: { icon: 'partnership'} do
			%h1 Sales & Marketing alignment
			%p We have custom built CRM systems including NetSuite and SugarCRM for commercial conference companies, PCOs, publishers and industry associations.
			=link_to 'let’s partner up!', '/solutions/agencies', class: 'btn--ghost'

		=partial 'solution', locals: { icon: 'card-and-ticket'} do
			%h1 Web Chat
			%p Accelerate your development time with our extensive collection of libraries and plugins for all major frameworks. Premium support, brainstorm, code reviews, pitch & concept are some of the benefits of enrolling our Partner Program.
			=link_to 'learn more', '/solutions/agencies', class: 'btn--ghost'
.bg-white
	.content-block
		%h2 Wanna know what we can do for your business?
		%form.UniqLeads-form.inline-form{data: {type: 'info', redirect: false}}