---
title: Terms and Conditions
---
.bg-red
	.container
		%h1.xs-12.xs-p-1 Terms and Conditions
.container
	:markdown
		These terms and conditions (the Terms and Conditions) lay down the terms and conditions subject to which you may make use of the service that UniqLeads offers as defined below.

		Read these terms and conditions of use carefully so that you know what your rights and obligations are when you make use of the Service.

		By making use of the Service, in whatever manner, you accept being bound by these Terms and Conditions. You can download and/or print these Terms and Conditions here.

		### Article 1.	Definitions

		1.1.	In these Terms and Conditions the following terms start with capital letters. These terms are understood to mean the following:

		#### API
		the application programming interface with which the User obtains access to the Service and with which he can, among other things, make and send Notification and access Reports;

		#### App
		the application of the Client;

		#### App User
		the users of the App;

		#### Account
		the personal environment within the Service which is managed by the Client and to which the Client or User obtains access after entering his Login Details;

		#### Agreement
		the Agreement concluded between UniqLeads and the Client for access to and use of the Service, including the order form filled out by the Client (via the website) and these Terms and Conditions;

		#### Client
		the legal or natural person that has entered into an Agreement with UniqLeads for the use of the Service;

		#### Content
		all information provided, changed or uploaded via the Service by the User, including – but not limited to – texts, photos, audiovisual materials, personal data of App Users and Notifications;

		#### Dashboard
		the graphical user interface with which the User obtains access to the Service and with which he can, among other things, make and send Notification and access Reports;

		#### Intellectual Property Rights
		all rights to intellectual property and rights associated therewith, such as copyrights, trademark rights, patent rights, design rights, trade name rights, database rights and neighbouring rights, as well as rights to know-how and performances on a par with such rights (“eenlijnsprestaties”);

		#### Login Details
		a user name and a password with which the Client or User obtains access to the Service via either the Dashboard or the API;

		#### UniqLeads
		the private limited company UniqLeads Research with its registered office in (3013 BR) Rotterdam at Schiekade 189 Unit 602, registered with the Chamber of Commerce under number 56141475;

		#### Notifications
		push notifications sent to App Users on phone, tablet or desktop, which can contain different media, such as HTML, images, an app rating or a map;

		#### Party
		UniqLeads or the Client;

		#### Reports
		all output, including reports, graphs, diagrams and overviews, that is produced by the Dashboard or the API for the Client using the Content;

		#### Service
		the service provided by UniqLeads to the Client, as described in art. 3;

		#### Software
		the software on which the API, Library and Dashboard are based;

		#### Library
		the library containing classes which can be activated by the App. The Library will be copied and incorporated in the App, in order to be able to communicate with the Dashboard and/or API;

		#### User
		a natural person, either the Client or a person designated by the Client, that is allowed to have the right to access and use (parts of) the Service


		### Article 2.	Agreement

		#### 2.1.
		The Terms and Conditions apply to all Agreements with UniqLeads and each and every use of the Service by the User.

		#### 2.2.
		The applicability of any of the User’s purchasing conditions or other conditions is expressly rejected.

		#### 2.3.
		UniqLeads is entitled at any time to amend or supplement the Terms and Conditions. The most up-to-date Terms and Conditions can be found in the Dashboard or will be brought to your attention while using the Service. Should any amendment or addition influence the rights or obligations of the User to a significant extent, UniqLeads will inform the User thereof by means of an email, or will announce these amendments via the Service.

		#### 2.4.
		Should the User continue to use the Service after amendment of or additions to the Terms and Conditions, the User will thereby irrevocably accept the amended or supplemented Terms and Conditions. If the User does not agree with the amended or supplemented Terms and Conditions, his only option is to no longer use the Service

		#### 2.5.
		Deviations from and additions to the Agreement are only valid if they have been agreed in writing between the Parties. If UniqLeads performs any additional services at the request of the User or with the prior consent of the User, that fall outside the scope of this Agreement, these services shall be paid by the User in accordance with the rates of UniqLeads that are applicable at the time of the performance of the work. UniqLeads is not obliged to comply with a request for additional services and is allowed to request the conclusion of a separate agreement.


		### Article 3.	The Service

		#### 3.1.
		UniqLeads provides a platform for notifications on phone, tablet or desktop.

		#### 3.2.
		The Service consists of making available to the User and keeping available the Library and providing access to the Dashboard and API, to enable the User to send Notifications to App Users and to provide Reports regarding the use of the Service and the behavior of App Users regarding the Notifications.

		#### 3.3.
		UniqLeads shall make every effort to ensure that the Service is provided with due care and in accordance with the arrangements and procedures agreed in the Agreement. UniqLeads shall provide the Service on the basis of a best efforts obligation, unless and in so far as otherwise stated in the Agreement.

		#### 3.4.
		Except where agreed otherwise in writing, UniqLeads is not obliged to carry out conversion of data, including Content and/or Reports.

		#### 3.5.
		UniqLeads shall under no circumstances be obliged to provide the User with a physical data carrier containing the Library, Dashboard or API to be made and kept available to the User in the context of the Service.

		#### 3.6.
		UniqLeads may make adjustments to the content or scope of the Service. UniqLeads will inform the User of this as early as possible. In the event that the amendment(s) result in a modification of the Service which is substantial in relation to the Service as defined in the Agreement, the Client is entitled to terminate the Agreement in writing within thirty days after the notification as of the date on which the adjustment would take effect, without UniqLeads becoming liable for any damages as a result of the adjustments or the termination.

		#### 3.7.
		UniqLeads may continue to perform the Service using new or modified versions of the Dashboard, API or Library. Unless explicitly agreed otherwise in writing, UniqLeads is not obliged to maintain, alter or add certain characteristics or functionalities of the Service or the Dashboard, API or Library specifically for the User.

		#### 3.8.
		UniqLeads only provides support in relation to the Service if and to the extent that this has been agreed in the Agreement.


		### Article 4.	Account and availability

		#### 4.1.
		In order to use the Service, the User needs an Account. The Client can make Accounts for other Users.

		#### 4.2.
		The User warrants that all information it provides to UniqLeads during registration is accurate, complete and up-to-date at any time.

		#### 4.3.
		By making an Account the User warrants that he has reached the age of 16 years, or that he has permission of his parents and/or guardian to create an Account

		#### 4.4.
		If the Client is entering into the Agreement on behalf of a company or other legal entity, the Client represents that he is legally authorized to represent the legal entity and has the authority to bind the entity to the Agreement.

		#### 4.5.
		The User is responsible for maintaining secrecy with regard to the Login Details for his Account. As soon as the User knows or has reason to suspect that his Login Details have come into the hands of unauthorized persons, the User must inform UniqLeads of this without delay, without prejudice to his own obligation to immediately take effective action, such as modifying his Login Details. The User therefore accepts and acknowledges that the User is at all times responsible and liable for the use of the Service by third parties via the User’s Account. The User indemnifies UniqLeads against any and all damage and costs arising from and/or related to the use of the Service by third parties via the User’s Account.

		#### 4.6.
		The Client is responsible and liable for any and all use of the Service by the Users and warrants that the Users comply with the provisions of the Agreement.

		#### 4.7.
		UniqLeads may temporarily take the Service offline in full or in part and/or restrict its use if, in its view, this is necessary, for example for purposes of preventive, corrective or adaptive maintenance. UniqLeads will notify the User of the temporary unavailability or restricted use of the Service as soon as possible.


		### Article 5.	Use of the Service and Content

		#### 5.1.
		Each and every use of the Service by the User is for the risk and responsibility of the User. The User is solely responsible and liable for Content provided and any Notifications sent through the Service. UniqLeads accepts no responsibility whatsoever for any decisions made by the User or the App Users based on any information provided by or related to the Service, including but not limited to the Reports and the Notifications.

		#### 5.2.
		A User may not:
		a.	use the Service, API or Dashboard with a () device which contains viruses, Trojan horses, worms, bots or other software that can damage, disable or delete the Service or makes it inaccessible;
		b.	sell, rent, grant access to or distribute any rights to or in any other way make available the Service or the use thereof to third parties in any way or for any purpose whatsoever, unless agreed upon by UniqLeads;
		c.	collect data from App Users and/or third parties through the Service and/or Notifications and use this data contrary to the applicable laws and regulations on privacy;
		d.	use Notifications for any unsolicited commercial, non-commercial or charitable communication contrary to the applicable laws and regulations on spam;
		e.	violate the Terms and Conditions, the Agreement, the Privacy Statement or any applicable laws and/or regulations;
		f.	infringe on the rights of UniqLeads and/or third parties, including – but not limited to – Intellectual Property Rights and rights that relate to the protection of privacy;
		g.	harm the interests and reputation of UniqLeads;

		#### 5.3.
		Furthermore User may not make available and/or use the Content that:
		a.	is contrary to the purpose and morals of the Service;
		b.	is discriminating regarding race, religion, gender, culture or heritage or which is otherwise offensive;
		c.	depicts explicit sexual activity and/or is of pornographic nature, is contrary to public morality or good taste;
		d.	calls for violence against and/or harassment of others;
		e.	that constitutes unauthorized or unsolicited advertising, junk, spam, bulk e-mail, scam and/or phishing;
		f.	is false and/or misleading, including – but not limited to – the adoption of a false identity and/or making the incorrect suggestion that the User is in any way commercially connected with UniqLeads;
		g.	contains viruses, Trojan horses, worms, bots or other software that can damage, disable or delete the Service or the device of the App User or makes them inaccessible, or which alters, damages or deletes the Content or other information;

		#### 5.4.
		The User acknowledges and agrees that Content he makes available trough the Service can be used by App Users. UniqLeads has no influence whatsoever on the way the App Users use the Content.

		#### 5.5.
		The UniqLeads reserves the right to modify, refuse or delete Content and to (temporarily or permanently) restrict the use of or terminate the User’s Account if there are grounds to do so according to UniqLeads, without becoming liable to pay any compensation to the User.


		### Article 6.	Intellectual Property Rights

		#### 6.1.
		The Intellectual Property Rights in relation to the Service, including any Intellectual Property Rights on the Software and the Reports are held by UniqLeads or its licensors. To the extent that such a right can only be obtained by means of filing or registration, UniqLeads is exclusively authorized to do so. Nothing in the Agreement is intended to entail any transfer of Intellectual Property Rights to the User.

		#### 6.2.
		If the User complies in full with its obligations pursuant to the Agreement with UniqLeads, UniqLeads will grant the User a limited, personal, revocable, non-exclusive, non-sub licensable and non-transferable right to (i) distantly access and use the Service, including the Software and the Reports, and (ii) incorporate the Library in the App, in accordance with the Agreement.

		#### 6.3.
		Save to the extent that it is allowed by mandatory statutory law, the User may not modify, reproduce or decompile the Software or apply reverse engineering to the Software. Furthermore, removal and/or circumvention of security measures or technical limitations (to use) of the Service and/or the Software is not allowed.

		#### 6.4.
		The rights granted to the User in this article explicitly do not include the right to provide third parties access to the Dashboard or the API.

		#### 6.5.
		In the event of infringement of the foregoing, the User will incur an immediately due and payable, non-offsettable penalty to UniqLeads of EUR 1,000 per infringement as well as EUR 1,000 per day that the infringement continues, without prejudice to the other legal remedies available to UniqLeads under the Agreement and/or the applicable law, including the right to additional compensation.

		#### 6.6.
		Any Intellectual Property Rights that vest in the User, including but not limited to Intellectual Property Rights in the Content and the App, remain vested in the User.
		By using the Service, the User grants UniqLeads a royalty-free, unencumbered, sub-licensable, non-exclusive license to use and reproduce the Content insofar as is necessary in connection with providing the Service.


		### Article 7.	Payment and refunds

		#### 7.1.
		The prices and functionalities of the Service depend on the subscription of the Client.

		#### 7.2.
		The relevant prices for use of the Service are agreed in the Agreement. Prices are exclusive of VAT and other government levies, unless stated otherwise. All amounts are in the currency as specified in the Agreement.

		#### 7.3.
		UniqLeads is authorized to adjust the current prices in writing with a period of notice of at least three months. If the Client does not wish to agree to such adjustment, the Client is entitled to terminate the Agreement in writing within thirty days after the notification as of the date on which the adjustment would take effect, unless the adjustment is less than or equal to the annual Dutch consumer price index.

		#### 7.4.
		All payments must be made monthly in advance via credit card. UniqLeads reserves the right to refuse or suspend access to the Service, as long as payment has not been received in full.

		#### 7.5.
		Complaints in relation to invoices and/or the Service do not suspend the Client’s payment obligations.The Service is provided on a non-refundable basis. There will be no refunds or credits for partial months of the Service, refunds for the time an Account was not used or for unauthorized use of an Account.

		#### 7.6.
		If the Client chooses to upgrade or downgrade the subscription to the Service, the changes will take immediate effect. The change in price will also take immediate effect. In case of a downgrade, UniqLeads will automatically refund the appropriate part of the price for the remainder of the month. In case of an upgrade, UniqLeads will automatically charge the appropriate extra price for the remainder of the month.


		### Article 8.	Term and termination

		#### 8.1.
		The Agreement is entered into for an indefinite period of time. The Client may terminate the Agreement at any time by providing written notice to UniqLeads. The termination will have effect upon the first day of the following month.

		#### 8.2.
		If the Client or User breaches its obligations under this Agreement, UniqLeads has the right to immediately discontinue or to (temporarily) suspend its Service and/or to terminate the Agreement with immediate effect, notwithstanding UniqLeadss other rights and remedies, including its right to claim damages.

		#### 8.3.
		Each of the Parties is entitled to terminate (‘opzeggen’) the Agreement immediately in full or in part in the event that the other Party goes bankrupt or is granted a suspension of payments, as well as in the event that the other Party's business is closed down or liquidated. In the event of bankruptcy of the Client, UniqLeads is entitled to terminate the right of use it furnished, unless the consequences would be contrary to reasonableness and fairness.

		#### 8.4.
		If, at any time of the rescission referred to in article 8.3, The Client has already received performance in connection with the execution of the Agreement, this performance and related payment obligation for the Client shall not be cancelled, unless the Client proves that UniqLeads is in default with regard to that performance. Amounts which UniqLeads has invoiced before rescission in connection with what it has already properly performed or delivered to execute the Agreement shall, subject to the provisions in the preceding sentence, continue to be owed in full and shall be immediately payable at the time of rescission.

		#### 8.5.
		After termination of the Agreement, Parties shall remain bound to the articles meant to survive such termination.

		#### 8.6.
		If the Agreement terminates, whether due to expiry, rescission or termination, the license granted to the Client and the Users in article 6.2 will end immediately and the Client and Users shall:
		a. cease and desist using the Service;
		b. delete the Library from it’s App and make all reasonable efforts to ensure that the App Users update the App so that it no longer contains the Library; and
		c. pay to UniqLeads any amounts, reimbursable expenses, compensations or other amounts payable under the Agreement;

		#### 8.7.
		After termination of the Agreement, UniqLeads is not obliged to furnish and/or convert any information such as Content and/or Reports to the Client.

		#### 8.8.
		If the Agreement terminates, whether due to expiry, rescission or termination, UniqLeads will remove the Account of Client and the Users, including all information such as Content and/or Reports from its systems.


		### Article 9.	Warranties and indemnifications

		#### 9.1.
		Each and every use of the Service is for the risk and responsibility of the User. UniqLeads is not liable for loss, damage, inaccuracy and/or incompleteness of Reports or any other results of the Service. UniqLeads is not liable for any results of the use of the Service, including any damage to the App caused by incorporating the Library in the App.

		#### 9.2.
		UniqLeads does not guarantee that the Service, including the Software, is free of defects and will operate without interruptions. Malfunctions in the Service may occur (but not exclusively) as a result of malfunctions in the internet or the telephone connection or due to viruses or faults/defects.

		#### 9.3.
		User understands and accepts that UniqLeads is not responsible for the App Users, the relationship between the User and App Users or the performance of any agreement between the User and App Users.

		#### 9.4.
		UniqLeads is not responsible for the purchase and/or correct functioning of the User’s infrastructure or that of third parties, including App Users. UniqLeads is never liable for damage or costs on account of transmission errors, malfunctions or non-availability of computer, data or telecom facilities, including the Internet.

		#### 9.5.
		The User is responsible for meeting any technical and functional requirements that may be provided by UniqLeads in order to be able to use the Service.

		#### 9.6.
		The User is responsible for the management, including monitoring settings, the use of the Service and the manner in which the results of the Service are used. The Client is also responsible for the use of the Service by the Users, regardless of whether or not there is a relationship of authority between the Client and these Users.

		#### 9.7.
		The User guarantees at all times that all materials, information, software, procedures and instructions that it makes available to UniqLeads for the purpose of providing the Service is accurate and complete.

		#### 9.8.
		The User guarantees that he will not use the Service in a way that:
		a.	infringes the rights of UniqLeads or third parties and/or are wrongful vis-à-vis third parties, including but not limited to Intellectual Property Rights or rights in relation to the protection of privacy;
		b.	is contrary to any current legislation or regulations; and/or
		c.	is contrary to any provision in this Agreement.
		The User indemnifies UniqLeads against all damage and costs arising from and/or related to claims of third parties, including App Users, based a violation of this guarantee.

		#### 9.9.
		UniqLeads does not guarantee that the Software or the Service will be adapted according to changes in relevant legislation an regulations.


		### Article 10.	Personal data

		#### 10.1.
		Pursuant to legislation in respect of the processing of personal data (such as the Personal Data Protection Act, ‘Wet bescherming persoonsgegevens’), the Client has obligations towards third parties, including the App Users, such as an obligation to provide information, an obligation to allow inspection, correction and removal of personal data of parties involved. The Client is fully and exclusively responsible for ensuring compliance with these obligations.

		#### 10.2.
		The Parties agree that, insofar as UniqLeads processes any personal data, UniqLeads is the ‘processor’ (‘bewerker’) within the meaning of the Personal Data Protection Act and Client will act as the ‘controller’ (‘verantwoordelijke’). UniqLeads will only process personal data of App Users for the purpose of providing the Service to the Client as requested by the Client.

		#### 10.3.
		UniqLeads shall implement appropriate technical and organizational measures in order to protect the personal data against accidental or unlawful destruction or accidental loss, alteration, unauthorized disclosure or access and against all other unlawful forms of processing. Having regard to the state of the art and the cost of their implementation, such measures shall ensure a level of security appropriate to the risks represented by the processing and the nature of the data to be protected.

		#### 10.4.
		UniqLeads will, as far as technically possible, lend its cooperation in respect of the obligations to be met by the Client pursuant to the Personal Data Protection Act. The costs associated with such cooperation are not included in the agreed fees and shall be borne in full by the Client.

		#### 10.5.
		The User guarantees that all requirements for lawful processing of the personal details – as defined in the Personal Data Protection Act – furnished by the User to UniqLeads in the context of the use of the Service have been satisfied. The User guarantees to UniqLeads that these details are not unlawful and that they do not infringe the rights of third parties. The User indemnifies UniqLeads against all damage and costs arising from and/or related to claims of third parties, on any basis whatsoever, in connection with the processing of these details.


		### Article 11.	Liability

		#### 11.1.
		UniqLeadss liability for imputably failing to perform the Agreement an unlawful act or any other act shall be limited to compensating direct damages. UniqLeadss liability for direct damages shall per event (a series of connected events considered one event) not exceed the total amount paid by the Client under the Agreement in the twelve (12) calendar months prior to such event. In no event shall UniqLeadss total, aggregate liability, however, exceed EUR 5.000,-.

		#### 11.2.
		“Direct damages” shall solely mean:
		a. property damages ;
		b. reasonable expenses which the Client would have to incur to make UniqLeadss performance conform to the Agreement; this alternative damage shall not be compensated, however, if the Agreement is rescinded by the Client (which includes rescission on its behalf by the competent judge) (“ontbinding”, article 6:265 Dutch Civil Code);
		c. reasonable expenses incurred by the Client to determine the cause and scope of the damage, insofar as the determination relates to direct damage within the meaning of this Agreement;
		d. reasonable expenses incurred to prevent or mitigate damage, insofar as the Client demonstrates that these expenses resulted in mitigation of direct damage within the meaning of this Agreement;

		#### 11.3.
		UniqLeads shall not be liable for any other damages than direct damages as specified in article 11.2, including, but not limited to, consequential damages arising out of, or in connection with this Agreement, such as, but not limited to, loss of profit, loss of business, loss of anticipated savings, or any other similar financial loss or loss of goodwill or reputation, or other incidental, indirect, punitive or exemplary damages of any kind, independent of whether the User provides notice to UniqLeads of such potential injury, damages or loss.

		#### 11.4.
		In any event, the User’s right to claim damages under this Agreement, under tort or otherwise shall lapse one (1) year after the occurrence giving rise to the claim or action.

		#### 11.5.
		The limitations mentioned in the preceding paragraphs of this article shall not apply if and insofar as the damage or injury is the result of intentional acts or omissions or gross negligence by UniqLeads or its managers.


		### Article 12.	Force Majeure

		#### 12.1.
		Except with respect to failure to pay any amount due under this Agreement, a Party shall be entitled to invoke force majeure (“overmacht”) if the execution or the performance of the Agreement is, in whole or in part, temporarily or not, prevented or impeded by circumstances reasonably beyond its control, including but not limited to:
		a. site or building blockades, strikes, riots, civil disruption, war, terrorist acts, inclemency, epidemic, specific work interruptions, delay in transportation, earthquake, fire, storm, flood, or water damage;
		b.	delay in or cancellation of the delivery to the Party of parts, goods or services ordered from third parties, interruptions in the internet connection; or
		c. governmental, legal or regulatory restrictions.

		#### 12.2.
		Any Party whose ability to perform is affected by a force majeure event shall take all reasonable steps to mitigate the impact of such event.


		### Article 13.	Applicable law and dispute resolution

		#### 13.1.
		The Agreement and the use of the Service are governed by Dutch law. The applicability of the Vienna Convention on the Sale of Goods is expressly excluded.

		#### 13.2.
		All controversies, disputes or claims that arise from or are related to this Agreement, or agreements that arise therefrom, will exclusively be submitted to the competent court in Amsterdam, The Netherlands.


		### Article 14.	Miscellaneous

		#### 14.1.
		Email messages are deemed to constitute written notice, unless explicitly agreed otherwise.

		#### 14.2.
		If any provision in the Agreement is void or is declared invalid, the other provisions of the Agreement will continue to apply in full. In that case the Parties will enter into consultations with the object of agreeing new provisions to replace the provisions that are void or have been declared invalid, whereby the object and the tenor of the conditions that are void or that have been declared invalid will be taken into consideration to the extent possible.

		#### 14.3.
		The User is not permitted to transfer to third parties any right derived from an Agreement concluded with UniqLeads without UniqLeads’s prior written consent. Such consent shall not be unreasonably withheld or denied.

		#### 14.4.
		UniqLeads may transfer rights and obligations arising from these Terms and Conditions and/or the Agreement to third parties and will notify the User of this.